[variables]
PYTHONDONTWRITEBYTECODE = "1"
PYTHONUNBUFFERED = "1"

[phases.setup]
nixPkgs = ["python311Full", "gcc"]

[phases.install]
cmds = [
  "python -m pip install --upgrade pip",
  "python -m pip install -r requirements.txt"
]

[phases.build]
cmds = [
  "python manage.py collectstatic --noinput"
]

[start]
cmd = "python manage.py migrate && gunicorn Friday.wsgi:application --bind 0.0.0.0:${PORT:-8000}"
